img.shot {
    max-width: 245px;
    border: 6px solid #191919;
    border-radius: 5px;
    box-shadow: 0px 0px 12px #333;
    border-top-width: 16px;
    border-bottom-width: 24px;
}

version {
    background: #212121;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
    box-shadow: 0px 0px 22px rgba(0,0,0,0.2);
    color: #FFF;
    margin-left: 4px;
}

.icon-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
